@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-orange: var(--color-orange);
  --color-body-color: var(--body-color);
  --color-body-color-secondary: var(--body-color-secondary);
  --color-body-color-tertiary: var(--body-color-tertiary);
  --color-body-text: var(--color-body-text);
  --color-body-text-dark: #1d1d20;
  --color-body-text-light: #f4f4f5;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  @font-face {
    font-family: 'Inter';
    src: url('/src/fonts/Inter/Inter-VariableFont.ttf');
  }
}

@layer base {
	body {
		font-family: Inter, system-ui, sans-serif;
		overflow-x: hidden;
		@apply text-body-text
	}
	body h1 {
		@apply text-4xl md:text-[55px] leading-tight font-black;
	}

	body h2 {
		@apply text-3xl md:text-[40px] leading-11 font-black;
	}

	body h3 {
		@apply text-2xl md:text-3xl font-bold;
	}

	body h4 {
		@apply text-lg md:text-xl font-semibold;
	}
	body p {
		@apply text-lg;
	}

  a {
    @apply text-primary underline hover:font-medium transition-all duration-200
  }

  button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	.blogContentWrapper {
		ul ul {
			list-style-type: revert;
			list-style-position: unset;
			margin-left: 1.5rem;
		}
		@apply [&_li]:my-2 [&_ul]:list-disc [&_ul]:list-inside;
	}

  :root {
		--color-primary: hsl(259, 81%, 64%);
		--color-secondary: hsl(206, 81%, 50%);
		--color-tertiary: hsl(162, 60%, 51%);
		--color-orange: hsl(15, 92%, 63%);
		--color-body-text: hsl(240, 6%, 12%);
		--body-color: hsl(240, 7%, 96%);
		--body-color-secondary: hsl(210, 38%, 93%);
		--body-color-tertiary: hsl(210, 44%, 85%);
	}

	:root[class~="dark"] {
		--color-primary: hsl(162, 72%, 65%);
		--color-secondary: hsl(206, 81%, 50%);
		--color-tertiary: hsl(259, 81%, 64%);
		--color-orange: hsl(15, 92%, 63%);
		--color-body-text: hsl(240, 7%, 96%);
		--body-color: hsl(240, 6%, 12%);
		--body-color-secondary: hsl(210, 9%, 14%);
		--body-color-tertiary: hsl(210, 4%, 31%);
	}
}

@media screen and (max-width: 767px) {
	.timeline-container ul li > div:first-child {
		display: none;
	}
}