---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HeaderImg from "@images/homepage_hero_img.webp";
import HeadlessWPImg from "@images/Headless_WP_iMac.webp";
// @ts-ignore
import Button from "@components/buttons/Button.svelte";
// @ts-ignore
import MultiStepDialog from "@components/dialogs/MultiStepDialog.svelte";
// @ts-ignore
import BenefitCard from "@/components/cards/BenefitCard.svelte";
// @ts-ignore
import PortfolioRow from "@components/sections/PortfolioRow.svelte";
// @ts-ignore
import ServicesTabs from "@components/sections/ServicesTabs.svelte";
// @ts-ignore
import ImgBackground from "@components/ImgBackground.svelte";
//@ts-ignore
import TestimonialRow from "@components/sections/TestimonialRow.svelte";
import { testimonials } from "@/utils/testimonials";
// @ts-ignore
import BlogCard from "@components/blog/BlogCard.svelte";
import { allBlogMeta } from "@/utils/blogs.ts";

const recentPosts = allBlogMeta.slice(0, 3);

const seo = {
  title: "Outfox Web | Web Development Design and SEO Experts",
  description:
    "Boost your online presence with our expert web development, design, and SEO services. We create high-performance, user-friendly websites that drive traffic, increase conversions, and help your business succeed in the digital world.",
};
---

<Layout {seo}>
  <main>
    <header
      class="py-20 md:py-12 grid grid-cols-1 md:grid-cols-2 items-center gap-20"
    >
      <div>
        <h1 class="text-center md:text-left mb-2">
          Websites That Drive Growth
        </h1>
        <p class="text-center md:text-left mb-10">
          Reach your audience, convert more customers, and rank higher with the
          best website for you.
        </p>
        <MultiStepDialog
          flavor="glow"
          classes="justify-self-center md:justify-self-start"
          client:load
        >
          Let's Build It
        </MultiStepDialog>
      </div>
      <div class="relative grid justify-center md:justify-normal">
        <Image
          src={HeaderImg}
          alt="laptop and mobile phone mockup of modern website"
          class="relative z-1 lg:max-w-[500px]"
          loading="eager"
        />
        <ImgBackground
          classes="absolute -z-0 -top-[90px] -right-[170px] w-[150%] h-[150%]"
        />
      </div>
    </header>
    <section
      id="benefitsRow"
      class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-[125px]"
    >
      <BenefitCard
        lottiePath="/lottie/BarChart_primary.json"
        heading="Multiply your conversions"
        body="We use data‑driven UX research to turn underperforming sites into conversion powerhouses."
        initialPlay
        client:load
      />
      <BenefitCard
        lottiePath="/lottie/Globe_tertiary.json"
        heading="Reach users faster"
        body="Keep visitors engaged with lightning-fast websites that load faster than 99.9% of competitors."
        delay={750}
        initialPlay
        client:load
      />
      <BenefitCard
        lottiePath="/lottie/Server_secondary.json"
        heading="Uninterrupted Performance"
        body="With 0% downtime over the past 3 years, our sites stay live when opportunities strike."
        delay={1500}
        initialPlay
        client:load
      />
    </section>
    <PortfolioRow client:load />
    <ServicesTabs client:load />
    <section
      class="rounded-2xl bg-body-color-secondary px-6 py-12 md:p-[60px] grid grid-cols-1 lg:grid-cols-2 gap-4 items-center my-[125px]"
    >
      <div class="relative flex justify-center lg:justify-start">
        <Image
          src={HeadlessWPImg}
          alt="iMac showing the WordPress dashboard"
          class="max-w-[400px] w-full z-10 relative"
          width="456"
          height="389"
          loading="lazy"
        />
        <ImgBackground
          classes="absolute -z-0 -top-[25%] -left-[25%] lg:-left-[40%] w-[160%] h-[160%]"
        />
      </div>
      <div class="mt-7 lg:mt-0">
        <p
          class="bg-tertiary/20 text-tertiary py-[5px] px-[14px] rounded-md inline-block text-base mb-2"
        >
          UPDATE
        </p>
        <h2 class="mb-4">Make WordPress Fast. Really Fast.</h2>
        <p>Love WordPress but hate the slow load times? You’re not alone.</p>
        <p class="mt-4 mb-8">
          With a headless approach, we keep the WordPress editor you know while
          replacing its clunky front‑end with cutting‑edge technology. The
          result? Lightning‑fast load speeds, rock‑solid performance, and a
          seamless experience for your users.
        </p>
        <Button
          type="link"
          link="/headless-wordpress"
          classes="px-[24px] py-[12px]"
          color="secondary">Explore Headless WordPress</Button
        >
      </div>
    </section>
    <TestimonialRow
      testimonials={[testimonials["kyle"], testimonials["stacy"]]}
    />
    <section id="recentPosts" class="mt-32">
      <h2 class="text-center">Recent Posts</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
        {recentPosts.map((post) => <BlogCard blog={post} />)}
      </div>
    </section>
  </main>
</Layout>
