---
import Layout from '../layouts/Layout.astro';
const seo = {
	title: 'Showcase',
	description: 'Homepage description m8'
}
---

<Layout {seo}>
	<main>
		<h1>Hello there</h1>
		<h2>Secondary Heading</h2>
		<h3>Tertiary Heading</h3>
		<p>Body text here</p>
	</main>
	<a href="/">Home page</a>
</Layout>