---
  import Layout from '../../layouts/Layout.astro';
	// @ts-ignore
	import AuditImg from '@images/Laptop_Audit.webp?format=webp&quality=75&w=500';
	// @ts-ignore
	import TabletAuditImg from '@images/Tablet_Audit.webp?format=webp&quality=75&w=513';
	// @ts-ignore
	import SaasImg from '@images/Saas_header.webp?format=webp&quality=100&w=550';
  // @ts-ignore
  import MultiStepDialog from '@components/dialogs/MultiStepDialog.svelte';
  // @ts-ignore
	import ImgBackground from '@components/ImgBackground.svelte';
  // @ts-ignore
	import BenefitCard from '@components/cards/BenefitCard.svelte';
  // @ts-ignore
	import Checkmark from '@components/Checkmark.svelte';
  // @ts-ignore
	import StatCard from '@components/cards/StatCard.svelte';
  // @ts-ignore
	import TestimonialRow from '@components/sections/TestimonialRow.svelte';
  // @ts-ignore
  import ProcessFAQs from '@components/sections/website-audit/ProcessFAQs.svelte';
  // @ts-ignore
  import GeneralFAQs from '@components/sections/website-audit/GeneralFAQs.svelte';
	import { testimonials } from '@/utils/testimonials';
import { Image } from 'astro:assets';

const seo = {
	title: 'Website Audit: Optimize Content & Improve SEO | Outfox Web',
	description: 'Ensure your website performs at its best with our expert website audit services. We identify and fix broken links, optimize images and content, improve page speed, and address on-page SEO issues to enhance user experience and boost rankings.'
}
---

<Layout {seo}>
  <header class="grid grid-cols-1 md:grid-cols-2 items-center gap-32 md:gap-10 py-24">
    <div>
      <h1 class="text-center md:text-left mb-6">
        Optimize your site.<br />
        Beat the competition.
      </h1>
      <div class="grid gap-4 justify-items-start pl-8 md:px-0 mb-10">
        <Checkmark body="Enhance user experience" />
        <Checkmark body="Fix broken links and images" />
        <Checkmark body="Future proof your website" />
      </div>
      <MultiStepDialog flavor="glow" classes="justify-self-center md:justify-self-start" client:load>
        Let's Connect
      </MultiStepDialog>
    </div>
    <div class="relative grid justify-center md:justify-end">
      <Image
        src={AuditImg}
        width="504"
        height="426"
        alt="laptop and mobile phone mockup of modern website"
        class="relative z-1"
        loading="eager" />
      <ImgBackground classes="absolute -z-0 -top-[90px] -right-[170px] w-[150%] h-[150%]" />
    </div>
  </header>
  <section id="benefitsRow" class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-[125px]">
    <BenefitCard lottiePath="/lottie/WorldMedia_primary.json" 
      heading="Future proof your website"
      body="By optimizing your website today, you ensure that you reap the benefits tomorrow."
      initialPlay 
      client:load />
    <BenefitCard lottiePath="/lottie/Media_tertiary.json"
      heading="Enhance user experience"
      body="No one likes broken links, broken images, or errors. Happy users turn into happy customers."
      delay={750} 
      initialPlay 
      client:load />
    <BenefitCard lottiePath="/lottie/Magnet_secondary.json"
      heading="Increase engagement"
      body=" A site that’s easy to navigate, find, and reliable is one that improves user engagement."
      delay={1700} 
      initialPlay 
      client:load />
  </section>
  <section
    id="intro"
    class="rounded-xl bg-body-color-secondary px-6 py-10 md:p-[60px] grid grid-cols-1 lg:grid-cols-2 gap-4 items-center overflow-hidden">
    <!-- Left column -->
    <div>
      <p class="bg-orange/20 text-orange py-[5px] px-[14px] rounded-md inline-block text-base mb-2">
        FLYING BLIND?
      </p>
      <h2 class="mb-6">Is all well with your website?</h2>
      <p class="mb-8 lg:mb-4">
        When is the last time you checked every page on your website for broken links, images, errors,
        or missing pages? What about slow loading times, thin content, or clumsy UX patterns?
      </p>
      <p class="mb-8 lg:mb-4">
        It may shock you to know, but every website has an average of 6-30 broken links per 100 pages.
        That’s a lot of missed opportunities.
      </p>
    </div>
    <!-- Right column -->
    <Image
      src={SaasImg}
      width="585"
      height="440"
      alt="Coworking business website design"
      class="max-h-[380px] lg:max-h-[480px] -mb-[80px] lg:ml-[80px] object-contain justify-self-center lg:justify-self-auto" />
  </section>
  <section id="initialStats" class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-[125px] mt-[40px]">
    <StatCard color="orange"
      stat="88%"
      subtitle="Customers will leave"
      body="88% of users are less likely to return to a website after a bad user experience." />
    <StatCard color="secondary"
      stat="53%"
      subtitle="Will close slow pages"
      body="53% of mobile users will close a website if it takes more than three seconds to load." />
    <StatCard color="tertiary"
      stat="72%"
      subtitle="Will spread the word"
      body="72% will tell 6 or more people about good experiences - including slow pages and broken links." />
  </section>
  <section
    id="solution"
    class="grid grid-cols-1 lg:grid-cols-2 gap-12 md:gap-32 items-center my-[125px]">
    <div class="relative flex justify-center lg:justify-start">
      <Image
        class="relative z-1 max-w-[425px] w-full"
        src={TabletAuditImg}
        alt="Laptop and mobile phone showing a design for a VR based company"
        height="409"
        width="600"
        loading="lazy" />
      <ImgBackground
        classes="absolute -z-0 -top-[25%] -left-[25%] lg:-left-[40%] w-[160%] h-[160%]" />
    </div>
    <div class="mt-7 lg:mt-0">
      <p class="bg-primary/20 text-primary py-[5px] px-[14px] rounded-md inline-block text-base mb-2">
        LEVEL UP
      </p>
      <h2 class="mb-6">Get your report and supercharge your site.</h2>
      <p>
        Analyzing every aspect of your website can be tricky, which is why we leverage a dozens of
        in-house and third-party tools to make sure nothing goes overlooked.
      </p>
      <p class="mt-4 mb-8">
        With our full report, you can rest assured you’ve done everything you can to make sure your
        website is successful. The longer you wait, the more customers and rankings you’re losing out
        on.
      </p>
      <MultiStepDialog flavor="glow" color="tertiary" classes="justify-self-center md:justify-self-start" client:load>
        Boost your website today
      </MultiStepDialog>
    </div>
  </section>
  <ProcessFAQs client:visible />
  <TestimonialRow testimonials={[testimonials['kyle'], testimonials['stacy']]} />
  <GeneralFAQs client:visible />
</Layout>