---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import MobileScore from '../../images/Mobile_Score.png'
import SvelteButton from '../../components/buttons/SvelteButton.svelte'

const seo = {
	title: 'Showcase',
	description: 'Homepage description m8'
}
---

<Layout {seo}>
	<Image src={MobileScore} alt="Tablet of Figma design" width="200" height="175" quality="max" transition:name='mobile_score'/>
	<main>
		<h1>Hello there</h1>
		<h2>Secondary Heading</h2>
		<h3>Tertiary Heading</h3>
		<p>Body text here</p>
		<div>
			<h2 class="text-center pb-4">Svelte Glow Buttons</h2>
			<div class="pb-10 flex justify-center flex-wrap gap-4">
				<SvelteButton type="button" color="primary">
					Button Primary
				</SvelteButton>
				<SvelteButton type="link" color="secondary" link="/showcase" >
					Button Secondary (link)
				</SvelteButton>
				<SvelteButton type="button" color="tertiary">
					Button Tertiary
				</SvelteButton>
			</div>
		</div>
		<div>
			<h2 class="text-center pb-4">Svelte Plain Buttons</h2>
			<div class="pb-10 flex justify-center flex-wrap gap-4">
				<SvelteButton type="button" flavor="plain" color="primary">
					Button Primary
				</SvelteButton>
				<SvelteButton type="link" flavor="plain" color="secondary" link="/showcase" >
					Button Secondary (link)
				</SvelteButton>
				<SvelteButton type="button" flavor="plain" color="tertiary">
					Button Tertiary
				</SvelteButton>
			</div>
		</div>

	</main>
	<a href="/">Home page</a>

</Layout>