---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import MobileScore from '../../images/Mobile_Score.png'
import Button from '../../components/buttons/Button.svelte'
import TestimonialRow from '../../components/TestimonialRow.svelte';
import { testimonials } from '../../utils/testimonials';
import StatCard from '../../components/cards/StatCard.svelte';

const seo = {
	title: 'Showcase',
	description: 'Homepage description m8'
}
---

<Layout {seo}>
	<Image src={MobileScore} alt="Tablet of Figma design" width="200" height="175" quality="max" transition:name='mobile_score'/>
	<main>
		<h1>Hello there</h1>
		<h2>Secondary Heading</h2>
		<h3>Tertiary Heading</h3>
		<p>Body text here</p>
		<div>
			<h2 class="text-center pb-4">Svelte Glow Buttons</h2>
			<div class="pb-10 flex justify-center flex-wrap gap-4">
				<Button type="button" color="primary">
					Button Primary
				</Button>
				<Button type="link" color="secondary" link="/showcase" >
					Button Secondary (link)
				</Button>
				<Button type="button" color="tertiary">
					Button Tertiary
				</Button>
			</div>
		</div>
		<div>
			<h2 class="text-center pb-4">Svelte Plain Buttons</h2>
			<div class="pb-10 flex justify-center flex-wrap gap-4">
				<Button type="button" flavor="plain" color="primary">
					Button Primary
				</Button>
				<Button type="link" flavor="plain" color="secondary" link="/showcase" >
					Button Secondary (link)
				</Button>
				<Button type="button" flavor="plain" color="tertiary">
					Button Tertiary
				</Button>
			</div>
		</div>
		<TestimonialRow testimonials={[testimonials['kyle'], testimonials['stacy']]} />
		<section id="initialStats" class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-[125px] mt-[40px]">
			<StatCard color="orange">
				<span slot="stat">434%</span>
				<span slot="subtitle">More indexed pages</span>
				<span slot="body"
					>Websites with proper SEO, copy writing, and content strategy get 434% more traffic.</span>
			</StatCard>
			<StatCard color="secondary">
				<span slot="stat">3x</span>
				<span slot="subtitle">As many leads</span>
				<span slot="body"
					>SEO generates over 3x as many leads as other marketing tactics and costs 62% less.</span>
			</StatCard>
			<StatCard color="tertiary">
				<span slot="stat">5.7%</span>
				<span slot="subtitle">Will rank in the top 10</span>
				<span slot="body"
					>Even with all the best SEO practices in mind, only 5.7% of pages will rank in the top 10 of
					search.</span>
			</StatCard>
		</section>
	</main>
	<a href="/">Home page</a>

</Layout>